@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  overflow-x: hidden;
}

.topnav {
  color: #451a64;
  background: #f8f8f8;
  display: flex;
  position: absolute;
  width: 2194px;
  height: 369px;
}

.logo {
  position: absolute;
  left: 57px;
  top: 37px;
}

.h3 {
  position: relative;
  margin: 50px;
  left: 1300px;
}

.nav {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 630px;
  top: 186px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  position: relative;
  margin-right: 100px;
  left: 10px;
}

.couch {
  position: absolute;
  width: 1090px;
  height: 613px;
  left: -946px;
  top: 22px;
}

.get {
  position: relative;
}

.in {
  position: relative;
  color: #241330;
}

.home {
  position: absolute;
  top: 400px;
  left: 946px;
}

.speak {
  position: absolute;
  width: 430px;
  left: 300px;
  top: 250px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
  height: 96px;
  background: #4b2a63;
}

.smalldiv {
  font-family: "Poppins";
  position: absolute;
  width: 997px;
  height: 404px;
  left: 42px;
  top: 147px;
  padding: 50px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.82);
}

.why {
  position: absolute;
  width: 340px;
  height: 54px;
  left: 790px;
  top: 1096px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

.image {
  position: absolute;
}

.images {
  position: absolute;
  display: flex;
  margin-left: 500px;
  margin-top: 1300px;
}

.calendar {
  position: absolute;
  margin-left: 40px;
}

.house {
  position: absolute;
  margin-left: 440px;
}

.badge {
  position: absolute;
  margin-left: 840px;
}

.days {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 100px;
  color: #000000;
}

.happy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 100px;
  margin-left: 266px;
  text-align: center;
  color: #000000;
}

.design {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 100px;
  margin-left: 286px;
  color: #000000;
}

.sofa {
  position: absolute;
  width: 1386px;
  height: 804px;
  left: 534px;
  top: 1508px;
}

.outlinediv {
  position: absolute;
  width: 898px;
  height: 808px;
  left: -76px;
  top: 1566px;

  background: rgba(255, 255, 255, 0.82);
}

.make {
  position: absolute;
  width: 501px;
  height: 54px;
  left: 179px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  text-align: center;

  color: #241330;
}

.easy {
  position: absolute;
  width: 301px;
  height: 72px;
  left: 279px;
  top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #241330;
}

.explore {
  position: absolute;
  width: 133px;
  height: 54px;
  left: 346px;
  top: 150px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #4b2a63;
}

.more {
  position: absolute;
  width: 348px;
  height: 54px;
  left: 237px;
  top: 231px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.design1 {
  position: absolute;
  width: 126px;
  height: 54px;
  left: 345px;
  top: 302px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #4b2a63;
}

.with {
  position: absolute;
  width: 397px;
  height: 54px;
  left: 213px;
  top: 433px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.movein {
  position: absolute;
  width: 154px;
  height: 54px;
  left: 334px;
  top: 505px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #4b2a63;
}

.move {
  position: absolute;
  width: 439px;
  height: 54px;
  left: 192px;
  top: 570px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}

.whatwedo {
  position: absolute;
  width: 235px;
  height: 54px;
  left: 843px;
  top: 2555px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #000000;
}

.images2 {
  display: flex;
  position: absolute;
  margin-top: 2700px;
  margin-left: 270px;
}

.what {
  width: 1000px;
}

.kitchen {
  position: absolute;
  left: 100px;
}

.bedroom {
  position: absolute;
  left: 400px;
}

.livingroom {
  position: absolute;
  left: 700px;
}

.office {
  position: absolute;
  left: 1000px;
}

.kitchenp {
  position: absolute;
  width: 239px;
  height: 43px;
  left: 120px;
  top: 342px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4b2a63;
}

.bedroomp {
  position: absolute;
  width: 133px;
  height: 43px;
  left: 470px;
  top: 342px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4b2a63;
}

.livingp {
  position: absolute;
  width: 170px;
  height: 43px;
  left: 760px;
  top: 342px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4b2a63;
}

.officep {
  position: absolute;
  width: 173px;
  height: 43px;
  left: 1060px;
  top: 342px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4b2a63;
}

.lorem {
  position: absolute;
  width: 1041px;
  height: 144px;
  left: 179px;
  top: 532px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.images3 {
  position: absolute;
  margin-top: 3500px;
  margin-left: 50px;
}

.dining {
  position: absolute;
  margin-left: 10px;
}

.woodtable {
  position: absolute;
  margin-top: 400px;
  margin-left: 2px;
  height: 193px;
}

.table {
  position: absolute;
  margin-left: 400px;
}

.whitetable {
  position: absolute;
  margin-left: 403px;
  margin-top: 220px;
}

.whitebox {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  width: 1000px;
  top: 3550px;
  left: 700px;
  height: 500px;
}

.ourprojectsh {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #241330;
}

.loremp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.magnap {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.viewall {
  width: 270px;
  height: 80px;
  background: #4b2a63;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
}

.blogs {
  position: absolute;
  width: 99px;
  height: 54px;
  left: 140px;
  top: 4215px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #241330;
}

.blogimages {
  position: absolute;
  display: flex;
  width: 329.98px;
  height: 333px;
  top: 4427px;
  left: 90px;
  border-radius: 10px;
}

.modernroom {
  position: absolute;
  margin-left: 5px;
}

.garden {
  position: absolute;
  margin-left: 380px;
}

.greytable {
  position: absolute;
  margin-left: 760px;
}

.guestroom {
  position: absolute;
  margin-left: 1140px;
}

.hallway {
  position: absolute;
  margin-left: 1550px;
}

.modernh {
  position: absolute;
  width: 185px;
  height: 36px;
  left: 75px;
  top: 346px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.exteriorh {
  position: absolute;
  width: 185px;
  height: 36px;
  left: 450px;
  top: 346px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.greyh {
  position: absolute;
  width: 185px;
  height: 36px;
  left: 830px;
  top: 346px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.plantationh {
  position: absolute;
  width: 185px;
  height: 36px;
  left: 1210px;
  top: 346px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.roleh {
  position: absolute;
  width: 185px;
  height: 36px;
  left: 1610px;
  top: 346px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.viewall2 {
  position: absolute;
  width: 270px;
  height: 80px;
  left: 730px;
  top: 546px;
  background: #4b2a63;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.shelfimages {
  position: arrlute;
  margin-top: 5100px;
  margin-left: 120px;
}

.shelf {
  position: absolute;
  width: 318px;
  height: 330px;
  margin-left: -850px;
}

.furniture {
  position: absolute;
  margin-left: -850px;
  margin-top: 350px;
  width: 318px;
  height: 330px;
}

.diningtable {
  position: absolute;
  margin-left: -500px;
  width: 452px;
  height: 676px;
}

.tvstand {
  position: absolute;
  width: 330px;
  height: 331px;
}

.shelf2 {
  position: absolute;
  margin-top: 350px;
  width: 330px;
  height: 331px;
}

.shelf3 {
  margin-left: 380px;
  width: 451px;
  height: 676px;
  position: absolute;
}

.lorem1 {
  width: 611px;
  position: absolute;
  height: 81px;
  left: 654px;
  top: 5976px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.viewall3 {
  width: 270px;
  margin-top: 1000px;
  height: 80px;
  background: #4b2a63;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
}

.happy2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #241330;
}

.lorem4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.japan {
  position: absolute;
  width: 1228px;
  height: 536px;
  left: 395px;
  top: 6562px;
}

.whitediv {
  position: absolute;
  width: 738px;
  height: 250px;
  left: 651px;
  flex-direction: column;
  top: 6909px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 59px 9px rgba(0, 0, 0, 0.05);
}

.japanp {
  width: 541px;
  height: 94px;
  left: 690px;
  top: 6690px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.profile {
  position: relative;
  top: -80px;
}

.jeo {
  width: 143px;
  height: 33px;
  left: 889px;
  top: 6808px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.letalk {
  width: 681px;
  height: 54px;
  position: absolute;
  left: 203px;
  top: 7258px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

input {
  position: absolute;
  width: 456px;
  height: 0px;
  left: 209px;
  top: 7155px;
  border: 2px solid rgba(0, 0, 0, 0.33);
}
